doctype html
html(lang="de")
	head
		title Wie Milka die Ostereiersuche rettete
		meta(name="description",content="Wie Milka in einem Jahr ohne Ostereiersuche die Ostereiersuche rettete.")
		meta(name="keywords",content="milka, rettete, ostereiersuche, ohne")
		link(href="./css/style.css",rel="stylesheet",type="text/css")

		include ./_shared/head.pug		

	body(id="body")
		h1 Wie Milka in einem Jahr ohne Ostereiersuche die Ostereiersuche rettete.

		.video-container-wrapper
			.video-container
				iframe(src="https://www.youtube-nocookie.com/embed/MEWgz9OS2cs?rel=0&showinfo=0&autoplay=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
