@import "./_variables.scss";

footer {
	background-color: $color-darkGreen;
	border-top: 2px solid $color-orange;
	box-shadow: 0 -5px 5px #464646;

	.sectionCont {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;

		.section {
			width: auto;
			margin: 20px;
			padding: 0;
			width: 190px;

			h3 {
				margin: 20px 10px;
				color: $color-white;
				text-align: center;
			}

			ul {
				height: auto;
				width: auto;
				margin: 0;
				padding: 0;
				display: block;

				li.foot {
					float: none;
					list-style: none;

					a {
						display: block;
						border-radius: 25px;
						border: 2px solid $color-orange;
						text-decoration: none;
						font-family: $font;
						color: $color-orange;
						padding: 5px 10px;
						text-align: center;
						margin: 10px;
						box-shadow: 2px 2px 5px #363636;
						transform: rotateZ(0.0001deg) scale(1);
						transition: .5s transform;
					}

					a:hover {
						background-color: $color-orange;
						color: $color-white;
						transform: rotateZ(0.0001deg) scale(1.1);
					}
				}
			}
			.section:nth-last-child(1) {
				float: right;
			}
		}
	}
	
	.text {
		width: 100%;
		max-width: 500px;
		font-family: $font;
		color: $color-white;
		display: block;
		text-align: center;
		margin: 0 auto;
		padding: 20px;
	}
}