@import "./_default.scss";

.contGal, .contInsta, .galCont {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	margin-top: 20px;
}

.contGal {
	background-color: $main-color;

	h2 {
		width: 100%;
		margin-top: 30px;
		text-align: center;
	}

	.galCont {
		width: 100%;
		max-width: 1280px;
		margin: 20px 0;
		background-color: $main-color;

		.imgCont {
			width: calc(25% - 10px);

			@media screen and (max-width:1000px){
				width: calc(50% - 20px);
			}

			@media screen and (max-width:600px){
				width: calc(100% - 20px);
			}

			img {
				display: block;
				width: calc(100% - 10px);
				margin: 5px;

				@media screen and (max-width:1000px){
					width: calc(100% - 20px);
					margin: 10px;
				}
			}
		}
	}
	
	.contIns {
		padding: 30px;
		width: calc(50% - 60px);

		@media screen and (max-width:600px){
			padding: 30px 20px;
			width: calc(100% - 40px);
		}

		p {
			font-size: 18px;
			color: $font-color;
		}
	}
}

.contInsta {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	
	.contIns {
		padding: 30px 20px;
		width: calc(100% - 40px);

		p {
			font-size: 18px;
			color: $font-color;
		}
	}

}