@import "./_default.scss";

.insCont {
	margin: 70px auto 100px auto;
	max-width: 1000px;
	width: calc(100%-40px);
	padding: 0 20px;
	color: $color-darkGreen;
	text-align: center;

	h1 {
		font-family: $font;
		font-size: 34px;
		text-align: center;
	}
	h2 {
		font-size: 24px;
		&.marginTop {
			margin: 50px 20px 20px 20px;
		}
	}
	p, li {
		font-size: 18px;
		a {
			font-family: $font;
			color: $color-orange;
			font-weight: 600;
		}
	}
	li {
		float: none;
	}

	.formCont {
		width: 100%;
		max-width: 400px;
		margin: 20px auto 0 auto;

		#error {
			width: 100%;
			margin: 10px auto;
			color: red;
		}

		.input {
			width: 100%;
			& label {
				width: 100%;
				font-family: $font;
				display:inline-block;
				text-align: left;
			}
			& input, & textarea {
				width: 100%;
				font-family: $font;
				font-size: 20px;
				margin-bottom: 3px;
				outline: 0;
				box-shadow: 0;
			}

			#errorname, #erroremail, #erroranliegen, #errordsgvo, #success {
				font-family: $font;
				font-size: 16px;
				margin-bottom: 10px;
				width: 100%;
				min-height: 20px;
				text-align: left;
			}
			
			#errorname, #erroremail, #erroranliegen, #errordsgvo, #success {
				color: #f10000;
			}

			#success {
				color: green;
			}
	
			& textarea {
				height: 300px;
				resize: none;

				&:nth-last-child(1) {
					margin-bottom: 0;
				}
			}

			.container {
				display: block;
				position: relative;
				padding-left: 35px;
				margin-bottom: 3px;
				cursor: pointer;
				font-family: $font;
				font-size: 17px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				& a {
					color: $color-orange;
					font-weight: 600;
				}
			}
			  
			/* Hide the browser's default checkbox */
			.container input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}
			  
			  /* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
				background-color: #eee;
				border: 2px solid $color-orange;
			}
			  
			  /* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
				background-color: #ccc;
			}
			  
			  /* When the checkbox is checked, add a blue background */
			.container input:checked ~ .checkmark {
				background-color: $color-darkGreen;
			}
			  
			  /* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}
			  
			  /* Show the checkmark when checked */
			.container input:checked ~ .checkmark:after {
				display: block;
			}
			  
			  /* Style the checkmark/indicator */
			.container .checkmark:after {
				left: 7px;
				top: 2px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		.buttonCont {
			padding: 20px 0;
		}
	}
}

.fehler {
	border: 1px solid #f10000;
}

.normal {
	border-bottom: 1px solid $color-darkGreen;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}