@import "./_default.scss";
@import "../../_modules/fullPicHeader/fullPicHeader.scss";

#portraitCont1, #portraitCont2, #portraitCont3, #portraitCont4 {
	opacity: 0;
}

#container {
	position: relative;
}

.noBottom {
	padding: 50px 0 0 0;
}

.noTop {
	padding: 0 0 50px 0;
}

.noTopIns {
	padding: 0 30px 30px 30px !important;
}

span.bold {
	font-weight: 600;
	font-size: 20px;
}