#footer
	.foot
		a.foot1(href="https://www.u-php.de/") u-php.de
	
	.foot
		a.foot1(href="https://www.ran.de/us-sport/nfl") ran Football
	
	.foot
		a.foot1(href="https://www.nfl.com/") NFL.com

	.foot
		a.foot1(href="https://teamcolorcodes.com/nfl-team-color-codes/") Teamcolors
