#nav
    ul.menu
        li
            a(href="index.html", title="Home") Home
        li
            a(href="teams.html", title="Zur NFL Tabelle") Tabelle
        li
            a(href="matches.html", title="Zu den Spielplänen") Spielplan
        