#nav
    div#btn(onclick="showMenu()")
    div#menu
        div#span1.button(onclick="toggleMenu()")
            a#button1(href="#section1", title="Home Button") Start
            .line
        div#span2.button(onclick="toggleMenu()")
            a#button2(href="#section2", title="Profile") Profile
            .line
        div#span3.button(onclick="toggleMenu()")
            a#button3(href="#section3", title="Skills") Skills
            .line
        div#span4.button(onclick="toggleMenu()")
            a#button4(href="#section4", title="Projects") Projects
            .line
        div#span5.button(onclick="toggleMenu()")
            a#button5(href="#section5", title="Contact") Contact
            .line