doctype html
html(lang="de")
	head
		title DB Case Film - Deutschland neu entdecken
		meta(name="description",content="DB Case Film - Deutschland neu entdecken")
		meta(name="keywords",content="DB, Case, Film, Deutschland, neu, entdecken")
		link(href="./css/style.css",rel="stylesheet",type="text/css")

		include ./_shared/head.pug		

	body(id="body")
		//- .outerCont
		//- 	.video-container-wrapper
		//- 		.video-container
					//- iframe(src="https://www.youtube-nocookie.com/embed/pdNOgdZJy4E?rel=0&showinfo=0&autoplay=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		video(controls="" poster="assets/210504_db_uid_casefilm.jpg")
			source(src="assets/DB_Case_Film_Deutschland_neu_entdecken.mp4" type="video/mp4")
