doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Spider Dots
		meta(name="description",content="Spider Dots - the game to find connections between dots and mouse. Variable amount of dots and distance between cursor and each spot inside of the frame. Find the most connections with the spider dots")
		meta(name="keywords",content="spider, dots, connections, mouse, cursor, dot, connection")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(href="./css/style.css",rel="stylesheet",type="text/css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
	body(id="body")
		h1 Spider Dots
		.centerBottom
			p.button
				span#reload(onclick="resizeend()") rearrange dots
			p.relative
				span Total dots: 
				span#btnMinus.btnSmall(onmouseover="showTooltip('toolTipMinus')", onmouseout="hideTooltip('toolTipMinus')", onclick="dotsAddRemove('-')") -
				span#toolTipMinus.toolTipSmall.minus less dots
				span#totalDots.bold 0
				span#btnPlus.btnSmall(onmouseover="showTooltip('toolTipPlus')", onmouseout="hideTooltip('toolTipPlus')", onclick="dotsAddRemove('+')") +
				span#toolTipPlus.toolTipSmall.plus more dots
			p.relative
				span Connection width: 
				input#conWidth(type="text", value="0", maxlength="3", onchange="resizeend()", onmouseover="showTooltip('toolTip')", onmouseout="hideTooltip('toolTip')")
				span  pixel
				span#toolTip.toolTip min: 100 / max: 300
		div(id="container")
			div(id="header")
				div#dot.dot.foundAnim
		.centerTop
			p
				span Connections found: 
				span#connections.bold 0
			p
				span Max connections found: 
				span#maxConnections.bold 0

script(src="./js/functions.js")
