doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title Landing Page
        meta(name="description",content="Add description here")
        meta(name="keywords",content="Add, keywords, here")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(href="./css/style.css",rel="stylesheet",type="text/css")
        script(src="./js/functions.js")
    body(id="body")
        div(id="container")
            #header
                h1 Animated Templates

            hr

            #content
                h2 Information Fields
                p CSS animation only
                #slide1.slide
                    .black_1.border_1
                        .text
                            h3 Testing
                    .color.bg_1
                    .color_move_1.bg_1
                        .num 1

                #slide2.slide
                    .black_2.border_2
                        .text
                            h3 Testing
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt adipisci, ab ea deleniti ullam eius alias aperiam, explicabo dolore nihil, ex dolores perferendis. Commodi ipsa dignissimos magni consectetur soluta!
                    .color.bg_2
                    .color_move_1.bg_2
                        .num 2
                
                #slide3.slide
                    .black_3.border_3
                        .text
                            h3 Testing
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt adipisci, ab ea deleniti ullam eius alias aperiam, explicabo dolore nihil, ex dolores perferendis. Commodi ipsa dignissimos magni consectetur soluta!
                    .color.bg_3
                    .color_move_2.bg_3
                        .num 3
            hr

            #content
                h2 
