@import url('https://fonts.googleapis.com/css?family=Arapey');

body {
  margin: 0;
  font-family: 'Arapey';
  
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 30%;
  }
}

section {
  padding: 20px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
section:nth-child(odd) {
  background: #f1f1f1;
}

#midFrame {
	height: 300vh;
	width: 100vw;
	background-color: khaki;
	position: relative;
}

#textFrame {
	position: absolute;
	top: 200px;
	left: 20px;

}

.sticky {
  position: fixed !important;
  top: 200px;
}

.bottom {
	position: absolute;
	bottom: 20px;
}

.percentage {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#box {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 5px solid lightgray;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}