$font: Verdana, Geneva, Tahoma, sans-serif;

html, body, #container, #div {
    margin: 0;
    padding: 0;
} 
	
body, html {
	height: 100%;
	margin: 0;
	font-family: $font;
	color: #777;
}
  
#container {
    width: 100%;
	margin: 0 auto;

	#nav {
		width: 100%;
		display: block;
		margin: 0;
	
		.menu {	
			list-style: none;
			width: auto;
			margin: 0;
			padding: 0;
			height: auto;
			display: flex;
			justify-content: center;
			background-color: #222a30;
	
			li {
				float: left;
	
				a {
					padding: 10px 20px;
					text-decoration: none;
					display: block;
					color: #fff;
					font-family: Verdana, Geneva, Tahoma, sans-serif;
				}
	
				a:hover, .active {
					background-color: #fff;
					color: #222a30;
				}
			}
		}
	}

	#header {
		width: 100vw;
		text-align: center;
		position: relative;
		background-color: #222a30;
		height: (100 / (16/9))+vw;
		max-height: 800px;
	
		.headerImg {
			margin: 0 auto;
			width: 100%;
		}

		.mouse1 {
			position: absolute;
			height: 50%;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
			animation: 2.5s mouseAni-0 infinite linear;

			& .cls-11{
				height: 95%;
				width: 95%;
				fill: none;
				stroke: #fff;
				stroke-miterlimit: 10;
				stroke-width: 3px;
			}

			& .cls-2 {
				transform: translate(0,0);
				fill: #fff;
				animation: 2.5s circleAni infinite linear;
			}
		}

		.mouse2 {
			position: absolute;
			height: 50%;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
			animation: 2.5s mouseAni-1 infinite linear;

			& .cls-12{
				height: 95%;
				width: 95%;
				fill: none;
				stroke-miterlimit: 10;
				stroke-width: 3px;
			}
		}

		.mouse3 {
			position: absolute;
			height: 50%;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
			animation: 2.5s mouseAni-2 infinite linear;

			& .cls-13{
				height: 95%;
				width: 95%;
				fill: none;
				stroke-miterlimit: 10;
				stroke-width: 3px;
			}
		}

		.headerTitle {
			width: 100%;
			position: absolute;
			bottom: 20%;
			left: 50%;
			transform: translateX(-50%) scaleY(1);
			font-size: 3vw;
			font-weight: bold;
			color: #fff;
			animation: 2.5s headerTitle infinite linear;
		}
	}

	#content{
		margin: 10px auto;
		max-width: 1280px;
	}

	.center {
		text-align: center;
	}

	@import './_parallax.scss';
}

@keyframes circleAni {
	0% {
		transform: translate(0,0);
		fill: #363636;
	}
	25% {
		transform: translate(0,25px);
		fill: #fff;
	}
	50% {
		transform: translate(0,50px);
		fill: #363636;
	}
	75% {
		transform: translate(0,25px);
		fill: #fff;
	}
	100% {
		transform: translate(0,0);
		fill: #363636;
	}
}

@keyframes mouseAni-0 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes mouseAni-1 {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes mouseAni-2 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes headerTitle {
	0% {
		transform: translateX(-50%) scaleY(1);
		bottom: 20%;
	}
	50% {
		transform: translateX(-50%) scaleY(0.7);
		bottom: 10%;
	}
	100% {
		transform: translateX(-50%) scaleY(1);
		bottom: 20%;
	}
}