#nav
    ul.menu
        li
            a#home(href="index.html", title="Home Button") HOME
        li
            a#parallax(href="parallax.html", title="Second Button") Parallax
        li
            a#matrix(href="js_scrolling.html", title="Third Button") JS Animation