@import "./_variables.scss";

#nav {
    width: 100%;
    display: block;
    margin: 0;

    .menu {

        list-style: none;
        width: auto;
        margin: 0;
        padding: 0;
        height: auto;
        display: flex;
        justify-content: center;
        background-color: $white-color;

        li {
            float: left;

            a {
                padding: 10px 20px;
                text-decoration: none;
                display: block;
                color: $font-color;
				font-family: $font;
				font-size: 20px;
				font-weight: 600;
            }

            a:hover {
                background-color: #fff;
                color: $sec-color;
            }
        }
    }
}