doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Landing Page
		meta(name="description",content="Add description here")
		meta(name="keywords",content="Add, keywords, here")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(href="./css/style.css",rel="stylesheet",type="text/css")
		script(src="./js/functions.js")
	body(id="body")
		div(id="container")            
			include ./_shared/menu.pug

			#header
				<svg class="mouse1" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.0315 131.5591">
					<defs></defs>
					<title>mouse1</title>
					<rect class="cls-11" x="2" y="2" width="68.0315" height="127.5591" rx="34.0157"/>
					<circle class="cls-2" cx="36.0157" cy="39.764" r="9.9662"/>
				</svg>
				<svg class="mouse2" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.0315 131.5591">
					<defs></defs>
					<title>mouse2</title>
					<linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
						<stop offset="0%" stop-color="#363636" />
						<stop offset="30%" stop-color="#363636" />
						<stop offset="100%" stop-color="#ffffff" />
					</linearGradient>
					<rect class="cls-12" x="2" y="2" width="68.0315" height="127.5591" rx="34.0157" stroke="url(#gradient1)"/>
				</svg>
				<svg class="mouse3" data-name="Ebene 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.0315 131.5591">
					<defs></defs>
					<title>mouse3</title>
					<linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
						<stop offset="0%" stop-color="#ffffff" />
						<stop offset="70%" stop-color="#363636" />
						<stop offset="100%" stop-color="#363636" />
					</linearGradient>
					<rect class="cls-13" x="2" y="2" width="68.0315" height="127.5591" rx="34.0157" stroke="url(#gradient2)"/>
				</svg>
				.headerTitle Scroll Up and Down

			#content
				h2.center Scrolling Templates for Websites
				p Here I present some scrolling templates for implementing on your website. Some modern and eye catching scrolling effects, either with CSS or animated with Javascript.
				p Modern websites from well known companies use the highest knowledge of website programming to achieve interactivity and fun surfing on the page. It is possible to just implement animations and effects either by using CSS parameters or by programming more complex functions with Javascript to realise astonishing effects.