doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title Javascript Scrolling Animation
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(href="./css/js_scrolling.css",rel="stylesheet",type="text/css")
		script(src="./js/js_scrolling.js")
	body(id="body")
		section
			h2 Scroll down
		
		section#midFrame
			#textFrame HALLO
			
		section
			h2 Scroll up