doctype html
html(lang="de")
	head
		title Datenschutzerklärung von Stean
		meta(name="description",content="Datenschutzerklärung von Stean")
		meta(name="keywords",content="datenschutzerklärung, datenschutz, stean, pflichtinformationen")
		link(rel="alternate" hreflang="de-DE" href="https://www.stean-maine-coon.de/datenschutz.php")
		link(rel="canonical" href="https://www.stean-maine-coon.de/datenschutz.php")
		link(href="./css/impressum.css",rel="stylesheet",type="text/css")

		include ./_shared/head.pug		

	body(id="body")
		div.(id="container")
			include ./_shared/nav_de.pug

			.insCont
				h1 Datenschutzerklärung
				h2 Allgemeiner Hinweis und Pflichtinformatonen
				h3 Betreiber der Webseite
				p Lars Urban<br>Ernst-TIchauer-Weg 16<br>21035 Hamburg
				p <b>Kontaktinformationen</b><br />Tel.: 0172 745 48 48<br>Email: urban@u-php.de</p>
				
				h3 Nutzerdaten / Speicherung von Nutzerdaten Daten
				p Diese Webseite speichert keine Nutzerdaten. Es gibt zurzeit keine Möglichkeit, sich zu registrieren oder anderweitig kundenbezogene Daten zu hinterlegen. Ausschließlich die Übermittlung einer Email per Kontaktformular ist möglich (siehe Punkt "<b>Kontaktformular</b>"). Diese Webseite dient zu Informationszwecken und zur Präsentation einer Person. Weder der Verkauf noch der Abschluss von Dienstleistungen ist über diese Webseite möglich.
				
				h3 SSL- bzw. TLS-Verschlüsselung
				p Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als Seitenbetreiber senden, nutzt unsere Website eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten, die Sie über diese Website übermitteln, für Dritte nicht mitlesbar. Sie erkennen eine verschlüsselte Verbindung an der „https://“ Adresszeile Ihres Browsers und am Schloss-Symbol in der Browserzeile.
				
				h3 Kontaktformular
				p Per Kontaktformular übermittelte Daten werden einschließlich Ihrer Kontaktdaten gespeichert, um Ihre Anfrage bearbeiten zu können oder um für Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten findet ohne Ihre Einwilligung nicht statt.
				p Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
				p Über das Kontaktformular übermittelte Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder keine Notwendigkeit der Datenspeicherung mehr besteht. Zwingende gesetzliche Bestimmungen - insbesondere Aufbewahrungsfristen - bleiben unberührt.

			include ./_shared/footer_de.pug

script(src="./js/footer.js")
script(src="./js/dropdown.js")