doctype html

- var backgroundImg = "../assets/pagePics/maine-coon-fakten.jpg'";
- var title = "Maine Coon Fakten - nicht normal";
include ./_shared/variables.pug

html(lang="de")
	head
		meta(charset="utf-8")
		title!= title
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(href="./css/fakten.css",rel="stylesheet",type="text/css")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet")
	body(id="body")
		div(id="container")
			include ./_shared/nav_de.pug
			include ../../_modules/fullPicHeader/fullPicHeader.pug

			.contFull
				#faktenCont1.contIns
					h2 Kleine Yetis: Katzen aus dem Eis
					p Maine Coons tragen ihre schicken Wintermäntel, um auch in New Englands tiefstem Schnee zu überleben. Die Fellpuschel an den Pfoten dienen als Schneeschuhe; das Fell ist wasserabweisend und besonders am Bauch lang gewachsen, um den Körper bei Schneewanderungen warm zu halten. Für Schläfchen in der Kälte schlingen die Katzen ihren buschigen Schwanz wie einen Schal um sich – deswegen ist er lang genug, dass Miez im Liegen die empfindliche Nase in ihm vergraben kann.

			.contFull.greenBG
				#faktenCont2.contIns
					h2 Naturburschen: Naturrasse statt Zucht
					p Es gibt einen Unterschied zwischen Naturrassen, die sich aufgrund der Gegebenheiten in ihrem Lebensraum und natürlicher Selektion entwickelt haben, und solchen Rassen, die von Menschenhand durch gezielte Kreuzung kreiert wurden. Die Maine Coon ist eine Naturrasse: Wie genau ihre langhaarigen Urahnen nach Amerika gekommen sind, ist nicht ganz klar (man gibt wahlweise den Wikingern, den Briten oder Marie Antoinette die Schuld), fest steht jedoch, dass der dicke Pelzmantel sich als überaus hilfreich für das Überleben der Tiere erwiesen und sich deswegen durchgesetzt hat.

			.contFull
				#faktenCont3.contIns
					h2 Wasser marsch! Von wegen, wasserscheu
					p Erinnerst du dich an die Sache mit dem wasserabweisenden Fell? Maine Coons scheuen das nasse Element so gar nicht. Im Gegenteil, Planschen in der Spüle und Fluten des Wassernapfes bedeuten für die Miezen einen Heidenspaß. (Manche Kandidaten sind sogar wahre Bademeister – ich hatte mittlerweile schon zwei Kater, die jeden Tag aufs Neue meinten, ihr gesamtes Spielzeug im Wassernapf versenken zu müssen.)

			.contFull.greenBG
				#faktenCont4.contIns
					h2 Gentle Giants: Harte Schale, sanftes Wesen
					p Die Coonies verfügen dank ihrer Körpergröße über beeindruckende Kräfte, doch ein normal sozialisiertes Tier wird wenig Interesse daran haben, sie gegen seine Zweibeiner einzusetzen. Maine Coons sind allgemein freundliche und verträgliche Zeitgenossen. Das hat ihnen ihren berühmten Spitznamen eingebracht: Man bezeichnet sie nämlich auch als »gentle giants« – sanfte Riesen.

			.contFull
				#faktenCont5.contIns
					h2 Bunter Haufen: Farben und Fellzeichnungen
					p Häufig verbindet man mit den Maine Coons braune Teddybären mit Räderzeichnung – diese Black Tabby Classic-Katzen stellen gewissermaßen auch den Prototypen eines Coonies dar. Es gibt die Katzen aber in beinahe jeder möglichen Fellfarbe: Von Silver Tabby über Red Tabby mit Weiß über Black Smoke bis hin zu Blue Solid ist alles vertreten. Lediglich die klassischen Siam-Farben sind ausgenommen.

			.contFull.greenBG
				#faktenCont6.contIns
					h2 Wie viele Finger siehst du? Polydaktylie
					p Frühe Vertreter der Rasse waren häufig polydaktyl: Sie hatten sechs oder mehr Zehen pro Pfote. Es wird vermutet, dass diese Mutation sich vermehrt durchsetzen konnte, weil sie den Schneeschuh-Effekt der plüschigen Pranken verstärkt hat. In seriösen Zuchten tritt diese Fehlbildung heutzutage nicht mehr auf, weil sie laut offiziellem Rassestandard nicht zugelassen ist.

			.contFull
				#faktenCont7.contIns
					h2 Pflegeleichter als gedacht: Wenig Unterwolle
					p Ein Blick auf einen Fellgiganten Marke Maine Coon und dieser Satz wird nicht lange auf sich warten lassen: »Die musst du doch den ganzen Tag bürsten, oder?« Ehrliche Antwort? Nein. Coonies sind Halblanghaarkatzen mit dichtem Deckhaar, aber wenig Unterwolle. Das Fell neigt daher nicht sonderlich zum Verfilzen. Klar, dass Mensch den Fellwechsel unterstützen sollte, aber stündliche Orgien mit der Bürste fallen glücklicherweise aus.

			.contFull.greenBG
				#faktenCont8.contIns
					h2 Riesenbabys: Langsame Entwicklung
					p Ihre volle Pracht zu entwickeln kostet Zeit. Maine Coons sind Spätentwickler, die ihre endgültige Größe erst nach und nach im Laufe der ersten Lebensjahre erreichen. »Fertig« sind die Pelzbomben erst mit etwa vier Jahren. Wer also schon über die Größe eines 2-jährigen Coonies staunt, sollte in zwei Jahren noch einmal wiederkommen – und sich auf was gefasst machen!

			.contFull
				#faktenCont9.contIns
					h2 Wuff! Hundekatzen
					p Nicht nur ihre Größe erinnert mehr an Hunde als an Katzen – besonders ihre Menschenbezogenheit und ihre Verspieltheit haben ihnen den Spitznamen »Hundekatze« eingebracht. Viele Coonies lassen sich problemlos das Apportieren beibringen und an die Leine gewöhnen – und wenn sie ihren Menschen wirklich ins Herz geschlossen haben, sind sie besser abrufbar als so mancher Hund im Park.

			.contFull.greenBG
				#faktenCont10.contIns
					h2 Hollywood, Baby! Clever genug für Schauspielkarrieren
					p Du kennst die Harry Potter-Filme? Dann ist dir bereits ein Coonie auf der Leinwand begegnet: Mrs. Norris, Hausmeister Filchs haarige BFF (und nebenbei wohl auch einzige Freundin), wird im Laufe der Filme von mehreren Maine Coon-Katzen verkörpert, die alle diverse Tricks auf Lager haben. Ihre Intelligenz und außergewöhnliche Lernwilligkeit machen die Coons zu coolen Schauspielkollegen!

			.contFull
				#faktenCont11.contIns
					h2 Party People: Verspielte Chaoten
					p Aktive Kameraden statt lebendiger Sofakissen: Maine Coons bleiben bis ins hohe Alter verspielt, sind extrem sozial und stehen darauf, allen möglichen Unsinn mit ihren Menschen und Artgenossen anzustellen. Das bedeutet aber auch, dass sie keine nebenbei-Katzen sind, denn Langeweile mögen sie überhaupt nicht. Bei Einsamkeit und Unterforderung suchen sie sich Hobbys, unter denen sowohl Mensch als auch Mobiliar leiden. Halte einen Coonie also besser beschäftigt und sorge dafür, dass er Gesellschaft hat.

			.contFull.greenBG
				#faktenCont12.contIns
					h2 Rrr… Gurrkonzerte und Labertaschen
					p Coonies haben mehr drauf als »miau!«: Klassisch ist ihr Gurren und Trillern, mit dem sie in Puncto »rollendes R« glatt Till Lindemann an die Wand singen. Und: Trotz ihres massiven Körperbaus haben sie hohe Stimmchen, mit denen sie hübscher zwitschern können als mancher Vogel. Klar, dass die Miezen diese Talente gerne und viel nutzen. Ich hatte noch keinen Coonie, der darauf verzichtet hätte, mir Widerworte zu geben…

			.contFull
				#faktenCont13.contIns
					h2 Fingerfood! Mit den Pfoten fressen
					p Wenn du dich vor herumfliegendem Katzenfutter ekelst, sind Maine Coons keine passenden Haustiere für dich. Nahrung wird zuerst fachgerecht mit der Kralle aufgespießt und dann zum Maul geführt – normales Fressen aus dem Napf ist langweilig und geschieht nur bei echtem Magenknurren. Ist der Hunger gestillt, geht die Spielerei los. Was runterfällt und zu klein zum Aufpieken ist, bleibt nicht selten liegen. Wenn die Futterecke also keinem Schlachtfeld gleichen soll, hältst du besser einen Lappen parat.

			.contFull.greenBG
				#faktenCont14.contIns
					h2 Die Eleganz eines Mehlsackes
					p »Katzen sind ja so elegant!« – demzufolge sind Maine Coons leider keine Katzen. Bei den großen Pranken sind Missgeschicke beim Scharwenzeln um Nippes und Co. auf dem Wohnzimmerschrank vorprogrammiert, der lange, buschige Schwanz räumt im Vorbeigehen mühelos den halben Couchtisch ab und wenn ein Coonie schlafen möchte, dann lässt er sich fallen wie ein nasser Sack (auch auf dein Gesicht, solltest du in Reichweite liegen). Hat aber den Vorteil, dass man Ordnung in der Bude hält – und einen Katzenpo im Gesicht kann man sich immer noch als Liebesbeweis schön reden.

			include ./_shared/footer_de.pug

script(src="./js/menu.js")
script(src="./js/dropdown.js")
script(src="./js/fakten.js")
script(src="./js/viewport.js")