doctype html
html(lang="de")
	head
		title Kontakt zu Stean
		meta(name="description",content="Kontaktiere Stean den Maine Coon Mix")
		meta(name="keywords",content="kontakt, stean, maine coon, mix, kater")
		link(rel="alternate" hreflang="de-DE" href="https://www.stean-maine-coon.de/kontakt.php")
		link(rel="canonical" href="https://www.stean-maine-coon.de/kontakt.php")
		link(href="./css/kontakt.css",rel="stylesheet",type="text/css")

		include ./_shared/head.pug		

	body(id="body")
		div.whiteBG(id="container")
			include ./_shared/nav_de.pug

			.insCont
				h1 Kontaktiere Stean
				
				h2 Kontaktdaten
				p Lars Urban<br>Ernst-TIchauer-Weg 16<br>21035 Hamburg
				p <b>Kontaktinformationen</b><br />Tel.: 0172 745 48 48<br>Email: urban@u-php.de</p>

				h2.marginTop Direktkontakt zu Stean
				.formCont
					#error
					.input
						//- label(for="name") Name*
						input#name(type="text" placeholder="Name *" name="name")
					.input
						//- label(for="email") Email*
						input#email(type="email" placeholder="Email *" name="email")
					.input
						//- label(for="anliegen") Anliegen*
						textarea#anliegen(placeholder="Deine Nachricht *" name="anliegen")
					.buttonCont
						input.button(type="submit" value="Abschicken" onclick="checkEmail()")


			include ./_shared/footer_de.pug

script(src="./js/menu.js")
script(src="./js/email_de.js")