#cookie
	h2 Cookie Hinweise
	p Diese Webseite speichert nur einen Cookie, welcher die Anzeige dieses Elements verwaltet.<br />Wenn Sie auf das <b>X</b> clicken, wird diese Einstellung gespeichtert. Des Weiteren werden keine Client-Daten getrackt und gespeichert
	p Es werden außerdem die Bilddateien und CSS Daten im Cache des Browsers gespeichert. Diese können durch das Leeren des Browser-Cache gelöscht werden.
	#x_button(onClick="setCookie()")