footer
	.section
		h3 Maine Coon
		ul
			li.foot
				a(href="#" title="Foot1") Portrait
			li.foot
				a(href="#" title="Foot1") Ernährung
			li.foot
				a(href="#" title="Foot1") Spielzeug
			li.foot
				a(href="#" title="Foot2") Kratzbaum

	.section
		h3 Marketing
		ul
			li.foot
				a(href="#" title="Foot1") Werbung
			li.foot
				a(href="#" title="Foot2") Kooperation

	.section
		h3 Website
		ul
			li.foot
				a(href="#" title="Foot1") Impressum
			li.foot
				a(href="#" title="Foot2") Datenschutz
			li.foot
				a(href="https://www.u-php.de" title="Webseite programmiert und verwaltet von u-php.de") u-php.de
			li.text Copyright &copy; Lars Urban<br />Updated 03/2021