footer
	.sectionCont
		.section
			h3 Maine Coon
			ul
				li.foot
					a(href="#" title="Foot1") Ernährung
				li.foot
					a(href="#" title="Foot1") Pflege
				li.foot
					a(href="#" title="Foot1") Spielzeug
				li.foot
					a(href="#" title="Foot2") Kratzbaum

		.section
			h3 Marketing
			ul
				li.foot
					a(href="#" title="Foot1") Werbung
				li.foot
					a(href="#" title="Foot2") Kooperation

		.section
			h3 Website
			ul
				li.foot
					a(href="#" title="Foot1") Impressum
				li.foot
					a(href="#" title="Foot2") Datenschutz
				li.foot
					a(href="https://www.u-php.de" title="Webseite programmiert und verwaltet von u-php.de" target="_blank") u-php.de
	
	.text
		p Meine Seite wurde erstellt und designed von Lars Urban.<br />Copyright &copy; auf meine Fotos und das Design dieser Webseite.<br />Zuletzt aktualisiert 03.2021