#nav
    ul.menu
        li
            a#index(href="index.html", title="Stean Home") HOME
        li
            a#portrait(href="portrait.html", title="Portrait - Maine Coon") Portrait
        li
            a#facts(href="facts.html", title="Maine Coon Fakten") Fakten