#nav
	.menuIco(onclick="dropdown()")
	ul#navItems
		li.navEl
			a#index(href="index.php" title="Startseite von Stean-Maine-Coon") Home
		li.navEl
			a#portrait(href="#portrait" title="Portrait of Maine Coon Katzen") Portrait
		li.navEl
			a#fakten(href="#fakten" title="Fakten über Maine Coon") Fakten
		li.navEl
			a#gallerie(href="gallerie.php" title="Gallerie von Stean") Gallerie
		li.navEl.right
			a#kontakt(href="#kontakt" title="Kontakt zu Stean") Kontakt		
		li#lang.dropdown
			.dropbtn DE
				.arrow
			#rubtn.dropdown-content.navEl
				a(href="#" title="Zur russischen Sprache wechseln") RU