doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		title NFL Teams
		meta(name="description",content="Add description here")
		meta(name="keywords",content="Add, keywords, here")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(href="./css/matches.css",rel="stylesheet",type="text/css")
		link(href="./css/nav.css",rel="stylesheet",type="text/css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="./js/matches.js")
	body(id="body")
		.container
			include ./_shared/_menu.pug
			#head
				h1 NFL Games Schedule
				div.custom-select
					select#year

			#subNav
				.subEl
					#unfold.button(onclick="showAll()") Unfold all
				#filter.subEl
			
			div#playtable

			include ./_shared/_footer.pug
		